body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
html {
  overflow: hidden;
}

body {
  overflow: auto !important;
}
* {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  height: 100%;
}
.App {
  min-height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
